html {
    box-sizing: border-box;
    font-size:100%;
}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, hr {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

*, *::before, *::after {
    box-sizing: inherit;
}




p {
    font-size: $font-reg;
    color: $grayishBlue;
}

h1 {
    font-size: $font-lg;
    color: $veryDarkBlue;
    font-weight: map-get($font-weights, "extra-light");
    line-height: 1.5;
    margin-bottom: 1rem;

    .header__darkTitle {
        font-weight: map-get($font-weights, "semi-bold");
    }

    @include breakpoint-up(large){
        font-size: $font-xl;

    }
}

h2 {
    font-size: $font-med;
    color: $veryDarkBlue;
    font-weight: map-get($font-weights, "semi-bold");


}

body {
    background-color: $veryLightGray;
    font-family: $fontPoppins;
    line-height: 1.8;
    font-weight: map-get($font-weights, "regular");
}




.header {
    margin: 5.75rem auto 4.9375rem auto;
    text-align: center;

    @include breakpoint-up(large){
        margin-bottom: 4.0625rem;
    }

    &__description {
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        width: 18.5rem;

        @include breakpoint-up(medium){
            width: 23rem;
        }

        @include breakpoint-up(large){
            width: 31.625rem;
        }
    }
    
}


.cards {
    margin-bottom: 4.875rem;
    display: grid;  
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    

    @include breakpoint-up(large){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
 
        grid-template-areas: 
        ". team-builder ."
        " supervisor team-builder calculator"
        " supervisor karma calculator"
        " . karma .";

        margin: 0 auto;
        max-width: 1300px;
    }

    .card {
        box-shadow: 0px 12px 12px rgba(84, 158, 242, 0.15);
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        text-align: left;
        display: inline-block;
        width: 19.6875rem;
        margin-bottom: 1.4375rem;

        .container {
            margin: 1.75rem;
        }

        @include breakpoint-up(medium){
            width: 25rem;
        }

        @include breakpoint-up(large){
             
        }
 
        &.supervisor {
            border-top: 5px solid $cyan;

            @include breakpoint-up(large){
                grid-area: supervisor;
            }
        }

        &.team-builder {
            border-top: 5px solid $red;

            @include breakpoint-up(large){
                grid-area: team-builder;
            }
        }

        &.karma {
            border-top: 5px solid $orange;
            
            @include breakpoint-up(large){
                grid-area: karma;
            }
        }

        &.calculator {
            border-top: 5px solid $blue;

            @include breakpoint-up(large){
                grid-area: calculator;
            }  
        }

        &__description {
            margin-bottom: 2.25rem;

            @include breakpoint-up(large){
                margin-bottom: 2.75rem;
            }
        }

        &__image {
           text-align: end;
        }
    }
}

