//Colors

$red: #ea5353;
$cyan: #45d3d3;
$orange: #fcaf4a;
$blue: rgb(84, 158, 242);
$veryDarkBlue: rgb(76, 78, 97);
$grayishBlue: #a3a5ae;
$veryLightGray: #fafafa;


//Typography 
$fontPoppins: 'Poppins', sans-serif;


//Font
$font-reg: 0.9375rem; // 15px
$font-med: 1.125rem; // 18px
$font-lg: 1.625rem; // 26px
$font-xl: 2.5rem; //40px

$font-weights: (
    "extra-light": 200,
    "regular": 400,
    "semi-bold": 600
)
